.Header {
    text-align: center;
    height: 180px;
    padding: 28px;
    color: aliceblue;
    background:black;
     
}

.Menu {
    margin: 0;
    padding: 0;
    list-style: none;

}

.Menu li {
    display: inline-block;
    padding-right: 18px;
}
.Menu li a {
    color: rgb(45, 84, 133);
    text-decoration: none;

}
.Menu li a:hover {
    color: #EEE;
}